<!DOCTYPE html>
<html>
<head>
  <title>
    Kittens App
  </title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Kitten App</h1>
    </header>
    <form id="newKitten">
      Name <input class="form-control" type="text" name="name">
      <br>
      Url <input class="form-control" type="text" name="url">
      <input class="btn btn-primary" type="submit" value="Make a cat">
    </form>
      <ul class="kittens list-group">
        <% kittens.forEach(function(kitten)  { %>
        <li class="kitten list-group-item"><%= kitten.name %> at <%= kitten.url %> <span data-id="<%= kitten._id %>" class="close delete">X</span></li>
        <% }); %>
      </ul>
  </div>

</body>
</html>