<!DOCTYPE html>
<html>
<head>
  <title>
    Kittens App
  </title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Kitten App</h1>
    </header>
    <form  action="/kittens" method="post">
      <input type="text" name="name">
      <input type="text" name="url">
      <input type="submit" value="Make a cat">
    </form>
    <div class="kittens">
      <% kittens.forEach(function(kitten)  { %>
      <p><%= kitten.name %></p>
      <% }); %>
    </div>
  </div>

</body>
</html>